$green-grad: linear-gradient( 145deg, #afc60E 0%, #bdcd14 40%, #d1d711 100%);

ion-header {
    background: $green-grad;

    display: flex;
    flex-direction: column;
    padding: 32px 20px 10px 20px;
    position: relative;
    align-items: center;
    justify-content: center;

    > div {
        width: 100%;
    }
    ion-icon {
        &.icon-back {
            position: absolute;
            left: 15px;
            color: white;
            font-size: 25px;
        }
    }

    .main-header {
        margin-bottom: 30px;
        .page-title {
            font-size: 20px;
            margin: 0;
            text-align: center;
        }
    }

    .sub-header {
        display: flex;
        justify-content: space-between;

        .description-text {
            font-size: 14px;
            color: white;
            font-weight: 500;
            align-self: flex-end;
            margin-bottom: 5px;
        }

        .description-image {
            height: 40px;
            width: auto;
        }
    }

}

.payment-details {
    display: flex;
    flex-direction: column;
    padding: 20px;

    * {
        color: #333;
    }

    &__party-image {
        height: 60px;
        width: 60px;
    }

    &__party {
        margin: 10px 0 5px 0;
        font-size: 20px;
    }

    &__date,
    &__address {
        font-size: 14px;
        margin: 0;
    }

    &__ammount {
        margin: 20px 0 0 0;
        font-size: 30px;
        font-weight: 500;
    }
}

.payment-options {
    margin-right: 20px;
    ion-item {
        display: flex;
        justify-content: space-between;
        height: 66px;
    }

    ion-icon {
        color: #333;
        font-size: 20px;
    }

    .combined {
        flex: 1;
        display: flex;
        align-items: center;
        p {
            margin-left: 10px;
            font-size: 15px;
            color: #333;
            font-weight: 500;
        }
    }
    .icon-only {
        flex: 0 0 20px;
        display: flex;
        align-content: center;
        justify-content: flex-end;
    }
}

.statistics {

    &__title {
        display: block;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    .columns {
        display: flex;
        padding: 10px 0;
    }
    .column {
        flex: 1;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 -8px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px 0;

        h3,p {
            text-align: center;
            margin: 0;
        }
        h3 {
            font-size: 24px;
        }
        p {
            padding: 10px 40px 0 40px;
            font-size: 14px;
        }
    }
    .divider {
        width: 2px;
        margin: 6px 0;
        background: #333;
        opacity: 0.2;
    }
}
